<!-- SE INSERTA TEXTO INTERPOLADO -->

<p>Nombre del empledo: {{ nombre }} {{apellido}}</p>
<p>Edad: {{ edad.value }}</p>
<p>Empresa: {{empresa.value}}</p>

Introduce la empresa : <input type="text" #empresa (keyup)="0" [disabled]="habilitacionCuadro">
<br>
Introduce la edad : <input type="number" #edad (keyup)="0" [disabled]="habilitacionCuadro">
<!--BOTON CON FUNCION EN TS-->
<!-- <input type="button" value="Dale" (click)="llamaEmpresa(empresa.value)" >
-->
<br>
<br>
{{txtRegistro}}
<br>
Registrado: <input type="radio" name="nRegistro" value="si" [checked]="usuRegistrado" (click)="setUsuarioRegistrado($event)">
<br>
No registrado: <input type="radio" name="nRegistro" value="no" (click)="setUsuarioRegistrado($event)">
{{getRegistroUsuario()}}